:root {
    --soft-orange: hsl(35 77% 62%);
    --soft-red:hsl(5 85% 63%);
    --off-white:hsl(36 100% 99%);
    --grayish-blue:hsl(233 8% 79%);
    --dark-grayish-blue:hsl(236 13% 42%);
    --very-dark-blue:hsl(240 100% 5%);
}

* {
    box-sizing: border-box;
}
  
html {
    height: 100%;
}

body {
    display: grid;
}

.toggle-button {
    background: transparent;
    border: none;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    position: fixed;
    /* transform: translateX(100%); */
    background: var(--soft-red);
    width: 70%;
    height: 100vh;
    z-index: 100;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@font-face {
    font-family: "Inter";
    src: url("assets/font/static/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("assets/font/static/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("assets/font/static/Inter-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}